<h2 id="two-way">Two-way Binding</h2>
<div id="two-way-1">
  <!-- #docregion two-way-1 -->
  <app-sizer [(size)]="fontSizePx"></app-sizer>
  <div [style.font-size.px]="fontSizePx">Resizable Text</div>
  <!-- #enddocregion two-way-1 -->
  <label>FontSize (px): <input [(ngModel)]="fontSizePx"></label>
</div>
<br>
<div id="two-way-2">
  <h3>De-sugared two-way binding</h3>
  <!-- #docregion two-way-2 -->
  <app-sizer [size]="fontSizePx" (sizeChange)="fontSizePx=$event"></app-sizer>
  <!-- #enddocregion two-way-2 -->
</div>


